@import "_vars";

body {
  background: $black;
  color: $white;
  font-family: sans-serif;
}

canvas {
  background: $canvas-background;
  height: $canvas-side-length;
  width: $canvas-side-length;
}

h1 {
  text-align: center;
}

.center {
  text-align: center;
}
