@import "_vars";

body {
  background: $black;
  color: $white;
  font-family: sans-serif;
}

canvas {
  background: $white;
  height: 256px;
  width: 256px;
}

h1 {
  text-align: center;
}

.center {
  text-align: center;
}
